/****************************************
BASE STYLES
****************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$green: #54e6af;
$white: #fff;
$background: #121725;
$inputField: #2c344b;
$paleBlue: #c2cbe5;

/****************************************
TYPE
****************************************/

h1,
p,
form {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

/****************************************
BODY, WITH MOBILE BACKGROUND IMG
****************************************/

body {
  background: $background url('../assets/mobile/mobile-masked.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  postion: relative;
  .dots {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  wdith: 100%;
  height: 100%;
  margin: 0 6.4%;
}

/****************************************
LOGO
****************************************/

.logo {
  display: block;
  width: 96px;
  height: 40px;
  margin: 62px auto 74px;
}

/****************************************
WRITTEN CONTENT
****************************************/

header,
main {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

header h1 {
  text-transform: uppercase;
  margin: 0 0 15px;
  color: $white;
  font-size: 26px;
  line-height: 1.462;

  .highlight {
    color: $green;
  }
}

main p {
  margin-bottom: 33px;
}

main p {
  color: $paleBlue;
  font-size: 15px;
  line-height: 1.667;
}

/****************************************
PODCAST PLAYERS
****************************************/

.podcast-players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .spotify-logo {
    width: 56px;
    height: 17px;
  }

  .apple-pod-logo {
    width: 46px;
    height: 17px;
  }

  .google-pod-logo {
    width: 73px;
    height: 11px;
  }

  .pocket-casts-logo {
    width: 77px;
    height: 15px;
  }
}

/****************************************
FORM
****************************************/

form {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .email-input-field,
  .request-access-btn {
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    font-size: 14px;
  }

  .email-input-field {
    margin-bottom: 16px;
    padding-left: 32px;
    background-color: $inputField;
    color: $white;
  }

  .request-access-btn {
    background-color: $green;
  }

  // TODO: Hover effect only if field has content
  .request-access-btn:hover {
    background-color: #b3ffe2;
  }
}

/****************************************
MEDIA QUERIES: TABLET
****************************************/

@media screen and (min-width: 768px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: auto;
    background: $background url('../assets/tablet/image-host.jpg') no-repeat
      right top;
    .dots {
      display: block;
      margin-top: 153px;
      margin-left: 39px;
    }
    .wrapper {
      align-items: flex-start;
      margin: 0;
    }
  }

  /****************************************
	LOGO: TABLET
	****************************************/

  .logo {
    display: inline;
    width: 135px;
    height: 56px;
    margin: 50px 0 152px 39px;
  }
  header,
  main {
    text-align: left;
  }

  /****************************************
	HEADER AND MAIN CONTENT: TABLET
	****************************************/

  header {
    h1 {
      font-size: 48px;
      line-height: 1.167;
      padding-top: 93px;
    }
  }
  .main-content {
    width: 635px;
    height: 509px;
    background-color: $background;
    margin-left: 39px;

    p {
      font-size: 18px;
      max-width: 445px;
      line-height: 1.556;
      margin-bottom: 40px;
    }
  }
  .podcast-players {
    justify-content: flex-start;
    order: 1;

    .spotify-logo {
      width: auto;
      height: 100%;
      margin-right: 40px;
    }

    .apple-pod-logo {
      width: auto;
      height: 100%;
      margin-right: 41px;
    }

    .google-pod-logo {
      width: auto;
      height: 100%;
      margin-right: 27px;
    }

    .pocket-casts-logo {
      width: auto;
      height: 100%;
    }
  }

  /****************************************
	FORM: TABLET
	****************************************/

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 64px;
    width: 427px;

    .email-input-field,
    .request-access-btn {
      border: none;
      border-radius: 28px;
      flex-shrink: 0;
      font-weight: 700;
      font-size: 14px;
    }

    .email-input-field {
      width: 427px;
      margin-bottom: 0;
      padding-left: 32px;
      height: 56px;
      background-color: $inputField;
      color: $white;
    }

    .request-access-btn {
      background-color: $green;
      width: 162px;
      transform: translateX(-167px);
    }
  }
}

/****************************************
MEDIA QUERIES: DESKTOP
****************************************/

@media screen and (min-width: 1440px) {
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: 888px 640px;
    background: $background url('../assets/desktop/image-host.jpg') no-repeat
      right top 100px;
    .wrapper {
      align-items: flex-start;
      margin: 0;
    }
    .dots {
      display: block;
      position: absolute;
      right: 0;
      top: 688px;
    }
  }

  /****************************************
  HEADER AND MAIN CONTENT: DESKTOP
  ****************************************/

  .logo {
    display: inline;
    width: 135px;
    height: 56px;
    margin: 72px 0 103px 165px;
  }
  header {
    h1 {
      font-size: 52px;
      line-height: 1.192;
    }
  }
  .main-content {
    width: 723px;
    height: 509px;
    background-color: $background;
    margin-left: 165px;

    p {
      font-size: 18px;
      max-width: 445px;
      line-height: 1.556;
      margin-bottom: 40px;
    }
  }
  .podcast-players {
    margin-bottom: 0;
  }
}
