# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

#####################################################
## Hidden files
#####################################################
.DS_Store
.prettierignore

#####################################################
## Files
#####################################################
config.codekit3
preview.jpg
README-template.md

#####################################################
## Folders
#####################################################
assets/